<h1>Click Timeline</h1>

<div class="table-container">
<button><%= link_to 'Create New Timeline', new_timeline_path %></button>
<p>Total Number: <%= @counttimelines %></p>
<table class="table">
        <tr>
        <th >Created at</th>
        <th>Updated at</th>
        <th>Action</th>
        </tr>
    
    <tbody>
        <% @clicktimelines.each do |timeline| %>
        <tr>
            <td><%= timeline.created_at %></td>
            <td><%= timeline.updated_at %></td>
            <td><%= link_to 'Delete', timeline_path(timeline), method: :delete, data: {turbo: false} %></td>    
        </tr>
        <% end %>
    </tbody>
</table>
</div>


